body{
    color:rgb(62, 40, 43);
    background-color: rgb(219, 190, 161);
    padding:3px;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
}

h1{
    background-color: rgb(219, 190, 161);
    border-style: double;
    border-color:rgb(252, 246, 245);
    border-radius: 20px;
    text-align:center;
    padding:3px;
    margin:10px 0;
    font-family:fantasy, sans-serif;
    font-size: 50px;
}

img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2{
    border-style: dotted dashed groove ridge;
    border-color:rgb(163, 123, 115);    
    border-radius: 25px;
    padding:3px;
    margin:15px 0;
    font-family: 'Montserrat', sans-serif;
}


main {
    border-style:dotted;
    border-color:rgb(163, 123, 115);
    background-color: rgb(219, 190, 161);
    padding:3px;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
}



nav {
    font-family: 'Montserrat', sans-serif;
    font-style: oblique;
    color:rgb(219, 190, 161)

}




